In [40]:
import pandas as pd
import os
dir = os.getcwd()+'/work/csv'

#extract data from csv
def extract():
    try:
        # starting directory
        directory = dir
        # iterate over files in the directory
        for filename in os.listdir(directory):
            #get filename without ext
            file_wo_ext = os.path.splitext(filename)[0]
            # only process csv files
            if filename.endswith(".csv"):
                f = os.path.join(directory, filename)
                print(filename)
                # checking if it is a file
                if os.path.isfile(f):
                    df = pd.read_csv(f)
                    return df
    except Exception as e:
        #teams.send(to, "File Upload, Data extract error: ", f"Data extract error: File location {dir}" + str(e))
        print("Data extract error: " + str(e))

In [47]:
df = extract()
print(df.info())

curso.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MATRICULA          20000 non-null  int64
 1   NOME               20000 non-null  object
 2   REPROVACOES_MAT_1  20000 non-null  int64
 3   REPROVACOES_MAT_2  20000 non-null  int64
 4   REPROVACOES_MAT_3  20000 non-null  int64
 5   REPROVACOES_MAT_4  20000 non-null  int64
 6   NOTA_MAT_1         20000 non-null  float64
 7   NOTA_MAT_2         20000 non-null  float64
 8   NOTA_MAT_3         20000 non-null  float64
 9   NOTA_MAT_4         16284 non-null  float64
 10  INGLES             16372 non-null  float64
 11  H_AULA_PRES        20000 non-null  int64
 12  TAREFAS_ONLINE     20000 non-null  int64
 13  FALTAS             20000 non-null  int64
 14  PERFIL             20000 non-null  object
dtypes: float64(5), int64(8), object(2)
memory usage: 2.3+ MB
None

In [48]:
print(df)

       MATRICULA                                NOME  REPROVACOES_MAT_1  \
0         502375                   Márcia Illiglener                  0
1         397093            Jason Jytereoman Izoimum                  0
2         915288           Bartolomeu Inácio da Gama                  0
3         192652                     Fernanda Guedes                  1
4         949491              Alessandre Borba Gomes                  1
...          ...                                 ...                ...
19995     856673              Laércio Mário da Silva                  0
19996     576100                  Cibele Quésia Poza                  1
19997     888739                Marcielle Chale Bape                  0
19998     722743               Suzanne Mirian Mourão                  0
19999     417268  Maria Isaiane da Silva Luwequisman                  0

       REPROVACOES_MAT_2  REPROVACOES_MAT_3  REPROVACOES_MAT_4  NOTA_MAT_1  \
0                      0                  0                  0         6.2
1                      0                  0                  0         6.0
2                      0                  0                  0         7.3
3                      3                  1                  1         0.0
4                      3                  1                  1         0.0
...                  ...                ...                ...         ...
19995                  0                  0                  0         7.0
19996                  1                  1                  1         0.0
19997                  0                  0                  0         7.9
19998                  0                  1                  1         6.3
19999                  0                  1                  1         7.0

       NOTA_MAT_2  NOTA_MAT_3  NOTA_MAT_4  INGLES  H_AULA_PRES  \
0             5.8         4.6         5.9     0.0            2
1             6.2         5.2         4.5     1.0            2
2             6.7         7.1         7.2     0.0            5
3             0.0         0.0         0.0     1.0            4
4             0.0         0.0         0.0     1.0            5
...           ...         ...         ...     ...          ...
19995         7.9         5.8         7.0     1.0            9
19996         0.0         0.0         NaN     1.0            3
19997         7.6         8.3         7.2     NaN            8
19998         5.1         0.0         0.0     1.0            3
19999         7.3         0.0         0.0     NaN            3

       TAREFAS_ONLINE  FALTAS       PERFIL
0                   4       3      REGULAR
1                   4       3      REGULAR
2                   0       3          BOM
3                   4       4  DIFICULDADE
4                   2       5  DIFICULDADE
...               ...     ...          ...
19995               5       6      REGULAR
19996               2       5  DIFICULDADE
19997               3       1    EXCELENTE
19998               2       6  DIFICULDADE
19999               0       6  DIFICULDADE

[20000 rows x 15 columns]

In [2]:
#transform: 
# eliminar matrículas duplicadas
# eliminar nota ZERO de alunos sem reprovação (ainda não cursaram as matérias 1, 2, 3, 4)
# inserir coluna descritiva sobre os alunos que falam ingles, ajustando valores nulos
# resolver o que fazer com os valores nulos da materia 4

curso.csv  README.md

In [63]:
df[df['MATRICULA'].duplicated() == True]

,MATRICULA,NOME,REPROVACOES_MAT_1,REPROVACOES_MAT_2,REPROVACOES_MAT_3,REPROVACOES_MAT_4,NOTA_MAT_1,NOTA_MAT_2,NOTA_MAT_3,NOTA_MAT_4,INGLES,H_AULA_PRES,TAREFAS_ONLINE,FALTAS,PERFIL,INGLES_DESC
2471,647452,Oliver de Ayres,0,0,0,0,5.8,5.1,5.8,NaN,1.0,3,4,4,REGULAR,SIM
2568,544140,Olívia Pinhão,0,0,0,0,5.0,5.5,5.0,5.3,1.0,3,0,3,DIFICULDADE,SIM
2616,792206,Vitor Cauê da Paz Brasil,1,1,1,1,0.0,0.0,0.0,0.0,1.0,5,4,4,DIFICULDADE,SIM
2622,342054,Denis de Macedo Gomes,0,0,0,0,6.9,6.7,5.4,5.8,0.0,4,4,3,REGULAR,NÃO
2698,751223,Carla Rosimeire Nemmeman,0,0,0,0,7.3,7.1,4.8,6.2,0.0,15,5,1,REGULAR,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19740,834307,David Márcio de Sampaio Oviskernman Fonibri,0,0,0,0,7.1,7.6,6.9,7.5,0.0,5,0,3,BOM,NÃO
19776,348107,Mateus Ronaldo de Figueiredo Rossi Oenso,0,0,0,0,6.9,6.8,6.0,6.0,-1.0,5,5,1,REGULAR,SEM RESPOSTA
19839,516852,Lino de Souza,0,0,0,0,7.0,6.9,7.4,6.7,1.0,12,2,3,BOM,SIM
19853,624127,Gisele Fizzornasvic,0,0,0,0,7.7,8.0,8.6,7.5,0.0,17,3,3,EXCELENTE,NÃO
19931,407121,Israel Fernando de Figueira,0,0,3,1,6.4,4.9,0.0,0.0,1.0,4,4,2,DIFICULDADE,SIM

In [64]:
df = df.drop_duplicates(subset='MATRICULA', keep="first")
df

,MATRICULA,NOME,REPROVACOES_MAT_1,REPROVACOES_MAT_2,REPROVACOES_MAT_3,REPROVACOES_MAT_4,NOTA_MAT_1,NOTA_MAT_2,NOTA_MAT_3,NOTA_MAT_4,INGLES,H_AULA_PRES,TAREFAS_ONLINE,FALTAS,PERFIL,INGLES_DESC
0,502375,Márcia Illiglener,0,0,0,0,6.2,5.8,4.6,5.9,0.0,2,4,3,REGULAR,NÃO
1,397093,Jason Jytereoman Izoimum,0,0,0,0,6.0,6.2,5.2,4.5,1.0,2,4,3,REGULAR,SIM
2,915288,Bartolomeu Inácio da Gama,0,0,0,0,7.3,6.7,7.1,7.2,0.0,5,0,3,BOM,NÃO
3,192652,Fernanda Guedes,1,3,1,1,0.0,0.0,0.0,0.0,1.0,4,4,4,DIFICULDADE,SIM
4,949491,Alessandre Borba Gomes,1,3,1,1,0.0,0.0,0.0,0.0,1.0,5,2,5,DIFICULDADE,SIM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,856673,Laércio Mário da Silva,0,0,0,0,7.0,7.9,5.8,7.0,1.0,9,5,6,REGULAR,SIM
19996,576100,Cibele Quésia Poza,1,1,1,1,0.0,0.0,0.0,NaN,1.0,3,2,5,DIFICULDADE,SIM
19997,888739,Marcielle Chale Bape,0,0,0,0,7.9,7.6,8.3,7.2,-1.0,8,3,1,EXCELENTE,SEM RESPOSTA
19998,722743,Suzanne Mirian Mourão,0,0,1,1,6.3,5.1,0.0,0.0,1.0,3,2,6,DIFICULDADE,SIM
19999,417268,Maria Isaiane da Silva Luwequisman,0,0,1,1,7.0,7.3,0.0,0.0,-1.0,3,0,6,DIFICULDADE,SEM RESPOSTA

In [66]:
df.corr()

,MATRICULA,REPROVACOES_MAT_1,REPROVACOES_MAT_2,REPROVACOES_MAT_3,REPROVACOES_MAT_4,NOTA_MAT_1,NOTA_MAT_2,NOTA_MAT_3,NOTA_MAT_4,INGLES,H_AULA_PRES,TAREFAS_ONLINE,FALTAS
MATRICULA,1.000000,-0.007408,-0.010439,-0.009699,-0.013994,0.010780,0.009895,0.008228,0.013965,0.001991,0.006778,-0.009057,-0.006862
REPROVACOES_MAT_1,-0.007408,1.000000,0.717960,0.626769,0.634268,-0.813470,-0.794769,-0.692858,-0.710417,0.039463,-0.054449,-0.086786,0.094494
REPROVACOES_MAT_2,-0.010439,0.717960,1.000000,0.630692,0.626806,-0.813644,-0.794939,-0.692436,-0.710216,0.042838,-0.064221,-0.087432,0.097449
REPROVACOES_MAT_3,-0.009699,0.626769,0.630692,1.000000,0.716929,-0.724881,-0.713407,-0.779484,-0.801125,0.043217,-0.063560,-0.091332,0.101880
REPROVACOES_MAT_4,-0.013994,0.634268,0.626806,0.716929,1.000000,-0.722625,-0.712698,-0.780746,-0.801687,0.047505,-0.068735,-0.093432,0.107611
NOTA_MAT_1,0.010780,-0.813470,-0.813644,-0.724881,-0.722625,1.000000,0.969637,0.851119,0.867331,-0.062495,0.157259,0.160064,-0.175937
NOTA_MAT_2,0.009895,-0.794769,-0.794939,-0.713407,-0.712698,0.969637,1.000000,0.853177,0.869422,-0.065050,0.174810,0.169415,-0.178878
NOTA_MAT_3,0.008228,-0.692858,-0.692436,-0.779484,-0.780746,0.851119,0.853177,1.000000,0.948627,-0.074299,0.212211,0.188882,-0.201103
NOTA_MAT_4,0.013965,-0.710417,-0.710216,-0.801125,-0.801687,0.867331,0.869422,0.948627,1.000000,-0.062195,0.180377,0.172177,-0.180420
INGLES,0.001991,0.039463,0.042838,0.043217,0.047505,-0.062495,-0.065050,-0.074299,-0.062195,1.000000,-0.081506,-0.076503,0.070263
H_AULA_PRES,0.006778,-0.054449,-0.064221,-0.063560,-0.068735,0.157259,0.174810,0.212211,0.180377,-0.081506,1.000000,0.350069,-0.349310
TAREFAS_ONLINE,-0.009057,-0.086786,-0.087432,-0.091332,-0.093432,0.160064,0.169415,0.188882,0.172177,-0.076503,0.350069,1.000000,-0.454363
FALTAS,-0.006862,0.094494,0.097449,0.101880,0.107611,-0.175937,-0.178878,-0.201103,-0.180420,0.070263,-0.349310,-0.454363,1.000000

In [65]:
import numpy as np

df["INGLES"].fillna(-1, inplace = True)

conditions = [df['INGLES'] > 0, df['INGLES'] == 0, df['INGLES'] < 0]
choices = ['SIM', 'NÃO', 'SEM RESPOSTA']

df['INGLES_DESC'] = np.select(conditions, choices)

In [51]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MATRICULA          20000 non-null  int64
 1   NOME               20000 non-null  object
 2   REPROVACOES_MAT_1  20000 non-null  int64
 3   REPROVACOES_MAT_2  20000 non-null  int64
 4   REPROVACOES_MAT_3  20000 non-null  int64
 5   REPROVACOES_MAT_4  20000 non-null  int64
 6   NOTA_MAT_1         20000 non-null  float64
 7   NOTA_MAT_2         20000 non-null  float64
 8   NOTA_MAT_3         20000 non-null  float64
 9   NOTA_MAT_4         16284 non-null  float64
 10  INGLES             20000 non-null  float64
 11  H_AULA_PRES        20000 non-null  int64
 12  TAREFAS_ONLINE     20000 non-null  int64
 13  FALTAS             20000 non-null  int64
 14  PERFIL             20000 non-null  object
 15  INGLES_DESC        20000 non-null  object
dtypes: float64(5), int64(8), object(3)
memory usage: 2.4+ MB
None

In [55]:
print(df.groupby(['INGLES_DESC'])['INGLES_DESC'].count())

INGLES_DESC
NÃO              5791
SEM RESPOSTA     3628
SIM             10581
Name: INGLES_DESC, dtype: int64

In [ ]:
#load data to hive
def load(df, tbl):
    try:
        rows_imported = 0
        engine = create_engine(f'postgresql://{uid}:{pwd}@{server}:{port}/{db}')
        print(f'importing rows {rows_imported} to {rows_imported + len(df)}... ')
        # save df to postgres
        df.to_sql(f"stg_{tbl}", engine, if_exists='replace', index=False)
        rows_imported += len(df)
        # add elapsed time to final print out
        print("Data imported successful")
        eml.send_mail(to, "File Uploaded, Data load successful: ", "Data load notification for : " + f"stg_{tbl}")
    except Exception as e:
        eml.send_mail(to, "File Upload Data load error: ", f"Data extract error: File location {dir}"  + str(e))
        print("Data load error: " + str(e))